{{#each row in arrangedContent}}
    <tr>
        <td>{{_view.contentIndex}}</td>
        {{#each column in row.columns}}
            <td>{{column.value}}</td>
        {{/each}}
    </tr>
{{/each}}
