{{#each row in arrangedContent}}
  <tr>
    <td>{{_view.contentIndex}}</td>
      {{#each column in row.columns}}
        {{#if (should-display-column _view.contentIndex row.columns.length)}}
            <td>{{column.value}}</td>
        {{/if}}
    {{/each}}
  </tr>
{{/each}}
