<div class="panel panel-default">
    <div class="panel-heading">
        Tables <i>({{controller.length}})</i>
    </div>

    <div class="panel-body">
        {{#each controller}}
            {{#link-to 'table' tableName}}
                <p>{{tableName}}</p>
            {{/link-to}}
        {{/each}}
    </div>

    {{#if showProgress}}
    <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 100%"></div>
    </div>
    {{/if}}
</div>

{{outlet}}
