<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">{{id}} <i>({{rowCount}})</i></span>
    </div>

    <div class="panel-body table-responsive">
        {{filter-table headings=headings rows=rows onSortPropertyChanged="setSortProperty" onSortAscendingChanged="setSortAscending"}}
    </div>
</div>
