    {{name}}
    <div>Count: {{tablesCount}}</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Tables
    </div>

    <div class="panel-body">
        {{#each tableName in tables}}
            {{#link-to 'table' tableName}}
                <h4>{{tableName}}</h4>
            {{/link-to}}
        {{/each}}
    </div>
</div>

{{outlet}}
